.content_card
  margin-top: 30px
  text-align: center
  @include media-lg()
    width: 90%
  @include media-md()
    width: 90%
  h1
    font-size: 30px
    line-height: 50px
    color: $color-primary-light
    @include media-md()
      font-size: 20px
  p
    font-size: 21px
    color: $color-grey-dark
    @include media-md()
      font-size: 16px
  p.space_p
    color: #4F4F4F
    margin: 2% 10% 6% 10%
  .cards
    display: flex
    margin-top: 40px
    margin-bottom: 40px
    justify-content: center
    gap: 15px
    @include media-md()
      flex-direction: column
      align-items: center
      gap: 16px
    article
      display: flex
      flex-direction: column
      border: solid 1px $color-primary-soft
      border-radius: 30px
      width: 190px
      padding: 30px 30px 60px 30px
      text-align: center
      @include media-xl()
        width: 190px
        padding: 30px 20px 60px 20px
      @include media-lg()
        width: 190px
        padding: 20px 10px 25px 10px
      @include media-xs()
        width: 94%
      figure
        height: 145px
        display: flex
        align-items: center
        justify-content: center
        @include media-lg()
          height: 100px
      h3
        font-size: 18px
        color: $color-primary-light
        margin: 15px 0px
      p
        color: $color-grey-dark
        font-size: 15px
        @include media-xs()
          margin: 0 30px
      img
        object-fit: contain