.cards
  display: flex
  margin-top: 40px
  margin-bottom: 40px
  justify-content: space-around
  article
    display: flex
    flex-direction: column
    border: solid 1px $color-primary-soft
    border-radius: 30px
    width: 190px
    padding: 30px 30px 60px 30px
    text-align: center
    figure
      height: 145px
      display: flex
      align-items: center
      justify-content: center
    h3
      font-size: 18px
      color: $color-primary-light
      margin: 15px 0px
    p
      color: $color-grey-dark
      font-size: 15px
    img
      object-fit: contain