.content_help
  overflow: hidden
  position: relative
  .swiper
    width: 100%
  p.tagline
    color: $color-white
    font-size: 21px
    text-align: center
    width: 500px
    margin: auto
    @include media-xs()
      width: 96%
      margin: 40px auto 0 auto
  p.btn
    text-align: center
    margin-top: 30px
    a.btn-primary
      text-align: center
      margin: auto
      span
        padding: 4px 40px 4px 40px
  .card_help
    article
      display: flex
      flex-direction: column
      border-radius: 30px
      width: 170px
      padding: 30px 30px 40px 30px
      text-align: center
      margin: auto
      @include media-xs()
        width: 70%
        padding: 30px 30px 20px 30px
      figure
        height: 195px
        display: flex
        align-items: center
        justify-content: center
      p
        color: $color-white
        font-size: 14px
        line-height: 22px
        @include media-xs()
          font-size: 16px
      p.card_help__one, p.card_help__two, p.card_help__tree, p.card_help__for
        margin: 8px 10px
        &:before
          font-size: 30px
          font-weight: bold
          position: absolute
          margin-left: -40px
      p.card_help__one
        line-height: 15px
        &:before
          content: "1."
        @include media-xs()
          font-size: 20px
          line-height: 23px
      p.card_help__two
        &:before
          content: "2."
      p.card_help__tree
        &:before
          content: "3."
      p.card_help__for
        &:before
          content: "4."
  h1
    font-size: 30px
    color: $color-white
    text-align: center
    @include media-xs()
      font-size: 24px
  .swiper-help .swiper-pagination-bullets
    display: none
    @include media-xs()
      display: block
      bottom: auto
