.content_therapy
  overflow: hidden
  .content_swiper_therapy
    @include media-lg()
      width: 90%
      margin: auto
  h1
    font-size: 30px
    color: $color-white
    text-align: center
    @include media-xs()
      font-size: 20px
  .swiper-slide
    justify-content: center
    display: flex
  .card_therapy
    margin-top: 30px
    article
      display: flex
      flex-direction: column
      justify-content: space-between
      border-radius: 30px
      width: 230px
      height: 360px
      padding: 30px 30px 40px 30px
      text-align: center
      background: $color-white
      gap: 15px
      @include media-lg()
        padding: 25px 15px
      @include media-sm()
        padding: 24px
      figure
        height: 170px
        display: flex
        align-items: center
        justify-content: center
      h2
        color: $color-primary-light
        font-size: 18px
      p
        color: $color-grey-dark
        font-size: 14px
        line-height: 22px
      .btn
        justify-content: center

