.face
  display: grid
  grid-template-columns: repeat(4,1fr)
  margin: 30px 80px
  gap: 10px
  article.__second_position
    grid-column-start: 2
  figure
    display: flex
    justify-items: center
    align-items: center
    flex-direction: column
  figcaption
    font-size: 21px
    color: $color-grey-dark
    text-align: center
    margin: 10px 51px 0px