.content_face
  margin-top: 30px
  @include media-lg()
    width: 90%
  h1
    color: $color-blue
    font-size: 30px
    text-align: center
    margin: 0px 373px
    @include media-xl()
      margin: 0px 28%
    @include media-lg()
      margin: 0px 20%
    @include media-md()
      font-size: 20px
      margin: 0px 10%
.face
  display: grid
  grid-template-columns: repeat(4,1fr)
  margin: 30px 80px
  gap: 10px
  @include media-xl()
    margin: 30px 0px
  @include media-lg()
    grid-template-columns: repeat(3,1fr)
  @include media-md()
    grid-template-columns: repeat(2,1fr)
    article
      padding: 0px 15px
  article.__second_position
    grid-column-start: 2
    @include media-lg()
      grid-column-start: auto
  figure
    display: flex
    justify-items: center
    align-items: center
    flex-direction: column
    @include media-md()
      img
        width: 80%
  figcaption
    font-size: 21px
    color: $color-grey-dark
    text-align: center
    margin: 10px 51px 0px
    @include media-md()
      margin: 10px 0px 0px