.content_faqs
  position: relative
  padding: 50px 0
  .faqs__title h3
    font-size: 30px
    color: $color-blue
    text-align: center
    @include media-xs()
      font-size: 20px
  .faqs__content_list
    display: flex
    justify-content: center
    ul.faqs__list
      width: 50%
      list-style: none
      margin: 50px 0
      @include media-xs()
        width: 100%
      li .faqs__title
        background: #E1F4FF
        display: flex
        align-items: center
        padding: 0 10px
        height: 40px
        border-bottom: solid 1px #70A6C9
        position: relative
        cursor: pointer
        h6
          font-size: 16px
          color: $color-grey-dark
          @include media-xs()
            font-size: 16px
        h6:after
          content: ""
          width: 18px
          height: 10px
          top: 15px
          right: 20px
          position: absolute
          background: url('../img/arrow_down.svg')
      li .faqs__text
        padding: 20px 10px
        display: none
        p
          font-size: 16px
          line-height: 19.5px
          color: #4F4F4F
          margin: 0 0 10px 0
        a.btn-primary
          @include primary_button($color-blue, $color-blue-dark)
      li.--active .faqs__text
        display: block !important
      li.--active .faqs__title h6:after
        transform: rotate(180deg)
.row.content_faqs
  @include media-xs()
    width: 92%
    padding: 50px 4%