.--bg_ondas
  padding-top: 130px
  background-image: url(../img/bg_onda.svg)
  background-repeat: no-repeat
  min-height: 670px


.content_step_body
  height: 100vh
  //background: $color-blue-light2
  background-image: url(../img/bg_ondas_agenda.svg)
  background-repeat-y: no-repeat
  height: 156px

.content_step_bodydata
  height: 100vh
  background: $color-blue-light2