.content_card
  margin-top: 30px
  text-align: center
  h1
    font-size: 30px
    line-height: 50px
    color: $color-primary-light
  p
    font-size: 21px
    color: $color-grey-dark

.bg_onda
  background-image: url(../img/bg_onda.svg)
  height: 670px
  padding-top: 130px
  h1
    font-size: 30px
    color: $color-white
    text-align: center
  p.tagline
    color: $color-white
    font-size: 21px
    text-align: center
    width: 500px
    margin: auto
  p.btn
    text-align: center
    margin-top: 30px
    a.btn-primary
      text-align: center
      margin: auto
      span
        padding: 4px 40px 4px 40px