.content_card
  margin-top: 30px
  text-align: center
  h1
    font-size: 30px
    line-height: 50px
    color: $color-primary-light
  p
    font-size: 21px
    color: $color-grey-dark

.--bg_ondas
  padding-top: 130px
  background-image: url(../img/bg_onda.svg)
  background-repeat: no-repeat
  min-height: 670px
  h1
    font-size: 30px
    color: $color-white
    text-align: center





